{
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "rules": {
    "node/exports-style": ["error", "module.exports"],
    "node/no-exports-assign": "error",
    "node/no-missing-require": "error",
    "node/no-unpublished-require": "warn"
  }
}
